<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CowPay - Modal</title>

    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="modal.css">

</head>

<body>

    <div class="modal modal--comensal">

        <div class="modal__overlay"></div>

        <div class="modal__content">

            <h2>Confirmar pedido</h2>

            <p>
                ¿Estás seguro de que quieres confirmar este pedido?
            </p>

            <button class="button button--comensal">
                Confirmar
            </button>

            <button class="button button--admin">
                Cancelar
            </button>

        </div>

    </div>

</body>

</html>